.navbar{
  &__button{
    border: 1px solid $spanishgray;
    padding: 5px;
    color: $spanishgray;
    margin: 0 0.7rem 0 0.7rem;
    align-self: center;
    &--signup{
      color: $white;
      background-color: $shinyshamrock;
      border: none;
      padding: 6px;
      margin-right: 0;
    }
  }
}