.features{
  position: absolute;
  width: 36%;
  max-height: 20%;
  background: $white;
  z-index: 3;
  &__feature{
    padding:1.5rem;
    width: 22%;
    &--button{
      background-color: $coral;
    }
  }
  &__text{
    padding: 1rem 0;
  }
}


@media screen and (max-width: 1540px){
  .features{
    width: 50%;
  }
}

@media screen and (max-width: 1280px){
  .features{
    width: 55%;
  }
}
@media screen and (max-width: 950px){
  .features{
    width: 75%;
    &__feature{
      width: 26%;
    }
  }
  
}