.features{
  position: absolute;
  width: 50%;
  max-height: 20%;
  background: $white;
  z-index: 2;
  &__feature{
    padding:1.6rem;
    width: 17%;
    &--button{
      background-color: $coral;
    }
  }
  &__text{
    padding: 1rem 0;
  }
  &__arrow{
    text-align: center;
    position: relative;
    color: $white;
    background-color: $flame;
    padding-top: 69px;
    top: -6vh;
    left: -3vw;
    width: 140%;
    height: 98%;
  }
}