.images{
  width: 28%;
  &__cafe{
    width: 130px;
    position: absolute;
    height: 260px;
    object-fit: cover;
    margin-left: -65px;
    z-index: 2;
  }
  &__image{
    width: 100%;
    margin-bottom: -4px;
    height: 30vh;
    object-fit: cover;
  }
}