.features{
  top: 50vh;
  left: 36vw;
}

.meetus{
  width: 72%;
  &__text{
    width: 35%;

  }
}

.map{
 width: 50%; 
}

@media screen and (max-width: 1540px) {
  .features{
    left: 23vw;
  }
}
@media screen and (max-width: 1280px) {
  .features{
    left: 17vw;
  }
  .map{
    width: 40%; 
   }
}
@media screen and (max-width: 1080px) {
  .features{
    left: 13vw;
  }
}
@media screen and (max-width: 950px) {
  .features{
    top: 55vh;
    left: 0;
  }
}